extends ../layouts/layout

block title
	|image details

block content
	div.readingWidth.paddingBottom30
		h1.textAlignCenter Image details
		img.imageWidth100(src=`/uploads/${image.path}`)
		p.redText NOTE: To use this image copy the line below and paste it anywhere within your post's body!
		p.redText  ![#{image.caption}](/uploads/#{image.path})

		p name: #{image.originalName}
		p caption: #{image.caption}
		p size: #{Math.round(image.size/1000)} KB

		if image.width != null
			p width: #{image.width} px
		else
			p width:

		if image.height != null
			p height: #{image.height} px
		else
			p height:

		p dated: #{image.dated}
		p owner: #{image.ownerName}
		p license: #{image.licenseType}
		p original URL: #{image.originalURL}
		p uploaded: #{moment(image.uploadedAt).format('ll')}
		p modified: #{image.modifiedAt != null ? moment(image.modifiedAt).format('ll') : ''}
		p deleted: #{image.deletedAt != null ? moment(image.deletedAt).format('ll') : ''}

		div.flex-row
			a.customButton(href=`/uploads/${image.id}/edit`) Edit data
			form(action=`/uploads/${image.id}/delete` method='post')
				input.customButton.danger(type='submit' value='Delete image')