extends ../layouts/layout

block title
	|image manager details

block content
	div.readingWidth
		h1 Image details

		img(src=`/uploads/${image.path}` width='750')

		p To use this image copy the following and paste anywhere within your post's body:
		p.redText  ![#{image.caption}](/uploads/#{image.path})


		p name: #{image.originalName}
		p caption: #{image.caption}
		p size: #{Math.round(image.size/1000)} KB

		if image.width != null
			p width: #{image.width} px
		else
			p width:

		if image.height != null
			p height: #{image.height} px
		else
			p height:

		p dated: #{image.dated}
		p owner: #{image.ownerName}
		p license: #{image.licenseType}
		p original URL: #{image.originalURL}
		p uploaded: #{image.uploadedAt}
		p modified: #{image.modifiedAt}
		p deleted: #{image.deletedAt}

		div.flex-row
			a.customButton(href=`/uploads/${image.id}/edit`) Edit data

			form(action=`/uploads/${image.id}/delete` method='post')
				input.customButton.danger(type='submit' value='Delete image')