extends ../layouts/layout

block title
	|image details

block content
	div.readingWidth.paddingBottom30
		h1.textAlignCenter Image details
		img.center.imageMaxWidth100(src=`/uploads/${image.path}`)
		p.redText NOTE: To use this image copy the line below and paste it anywhere within your post's body!
		p.redText  ![#{image.caption}](/uploads/#{image.path})

		p Name: #{image.originalName}
		p Uploaded: #{moment(image.uploadedAt).format('ll')}
		if image.modifiedAt != null
			p Modified: #{moment(image.modifiedAt).format('ll')}
		if image.deletedAt != null
			p Deleted: #{moment(image.deletedAt).format('ll')}
		p Size: #{Math.round(image.size/1000)} KB
		p Caption: #{image.caption}
		p Owner: #{image.ownerName}
		p License: #{image.licenseType}
		p Original URL: #{image.originalURL}
		
		div.flexRow
			a.customButton(href=`/uploads/${image.id}/edit`) Edit data
			if image.deletedAt == null
				form(action=`/uploads/${image.id}/delete` method='post')
					input.customButton.danger(type='submit' value='Delete image')