extends ../layouts/layout

block title
	|image manager details

block content
	h1 Image manager
	h2 Image details

	img(src=`/uploads/${image.path}` width='750')

	div To use this image copy the following and paste anywhere within your post's body:
		|  ![#{image.caption}](/uploads/#{image.path})


	div name: #{image.originalName}
	div caption: #{image.caption}
	div size: #{Math.round(image.size/1000)} KB

	if image.width != null
		div width: #{image.width} px
	else
		div width:

	if image.height != null
		div height: #{image.height} px
	else
		div height:

	div dated: #{image.dated}
	div owner: #{image.ownerName}
	div license: #{image.licenseType}
	div original URL: #{image.originalURL}
	div uploaded: #{image.uploadedAt}
	div modified: #{image.modifiedAt}
	div deleted: #{image.deletedAt}

	a(href=`/uploads/${image.id}/edit`) Edit data

	form(action=`/uploads/${image.id}/delete` method='post')
		input(type='submit' value='Delete image')