extends ../layouts/layout

block title
	|image manager display

block content
	h1 Image manager display

	img(src=`/uploads/${image.path}`)
	<br/>
	<br/>
	div To use this image anywhere within your post body copy and paste:
		<br/>
		|/uploads/#{image.path}

	<br/>

	div name: #{image.originalName}
	div caption: #{image.caption}
	div size: #{size} KB

	if image.width != null
		div width: #{image.width} px
	else
		div width:

	if image.height != null
		div height: #{image.height} px
	else
		div height:

	div dated: #{image.dated}
	div owner: #{image.owner}
	div license: #{image.license}
	div original URL: #{image.originalURL}
	div uploaded: #{image.uploadedAt}
	div modified: #{image.modifiedAt}
	div deleted: #{image.deletedAt}

	form(action=`/uploads/${image.id}/edit` method='get')
		p
			input(type='submit' value='Edit image data')

	form(action=`/uploads/${image.id}/delete` method='post')
		p
			input(type='submit' value='Delete image')