extends ../layouts/layout

block title
	|edit image data

block content
	h1 edit image data

	form(action=`/uploads/${image.id}/edit` method='post')
		img(src=`/uploads/postsImages/${image.currentName}`)
		p Caption <br/>
			input(type='text' name='caption' value=image.caption)
		p Owner's name <br/>
			input(type='text' name='owner' value=image.ownerName)
		p License type <br/>
			input(type='text' name='license' value=image.licenseType)
		p Original URL <br/>
			input(type='text' name='url' value=image.originalURL)
		p
			input(type='submit' value='Save changes')

	form(action=`/uploads/${image.id}/delete` method='post')
		p
			input(type='submit' value='Delete image')