extends ../layouts/layout

block title
	|image manager edit

block content
	div.editImage
		div.readingWidth
			h1 Edit image data

			form.editImageData.flex-column(action=`/uploads/${image.id}/edit` method='post')
				img(src=`/uploads/${image.path}` width='750')
				p.title Caption
					input(type='text' name='caption' value=image.caption)
				p.title Owner's name
					input(type='text' name='owner' value=image.ownerName)
				p.title License type
					input(type='text' name='license' value=image.licenseType)
				p.title Original URL
					input(type='text' name='url' value=image.originalURL)
				p
					input.customButton(type='submit' value='Save changes')

			form(action=`/uploads/${image.id}/delete` method='post')
				input.customButton.danger(type='submit' value='Delete image')