extends ../layouts/layout

block title
	|image manager edit

block content
	div.editImage
		div.readingWidth.paddingTop30.paddingBottom30
			form.editImageData(action=`/uploads/${image.id}/edit` method='post')
				legend Edit image data
				img.center.imageMaxWidth100(src=`/uploads/${image.path}`)
				p.title Caption
					input(type='text' name='caption' value=image.caption)
				p.title Owner's name
					input(type='text' name='owner' value=image.ownerName)
				p.title License type
					input(type='text' name='license' value=image.licenseType)
				p.title Original URL
					input(type='text' name='url' value=image.originalURL)
				input.marginTop30.customButton(type='submit' value='Save changes')