extends ../layouts/layout

block title
	|image manager overview

block content
	h1 Image manager
	h2 Overview

	if currentUser.role > 1
		form(action='/uploads/overview/1' method='get')
			p Enter username to overview user's images
			input(type='text' name='username')
			input(type='hidden' name='deleted' value=deleted)
			input(type='submit' value='Submit')
		if username !== ''
			form(action='/uploads/overview/1' method='get')
				| Displaying #{username}'s #{deleted !== '1' ? 'current' : 'deleted'} images
				input(type='hidden' name='username' value=username)
				input(type='hidden' name='deleted' value=`${deleted !== '1' ? '1' : ''}`)
				input(type='submit' value=`Display ${deleted !== '1' ? 'deleted' : 'current'}`)
		else
			form(action='/uploads/overview/1' method='get')
				| Displaying your #{deleted !== '1' ? 'current' : 'deleted'} images
				input(type='hidden' name='deleted' value=`${deleted !== '1' ? '1' : ''}`)
				input(type='submit' value=`Display ${deleted !== '1' ? 'deleted' : 'current'}`)
	else
		form(action='/uploads/overview/1' method='get')
			| Displaying #{deleted !== '1' ? 'current' : 'deleted'} images
			input(type='hidden' name='deleted' value=`${deleted !== '1' ? '1' : ''}`)
			input(type='submit' value=`Display ${deleted !== '1' ? 'deleted' : 'current'}`)

	ul
		each image in images
			a(href=`/uploads/${image.id}`)
				img(src=`/uploads/${image.path}` width='350')
				| Details
			a(href=`/uploads/${image.id}/edit`) Edit
			if deleted !== '1'
				form(action=`/uploads/${image.id}/delete` method='post')
					input(type='submit' value='Delete')
		else
			div You have not uploaded any images yet

	if page > 1
		a(href=`/uploads/overview/${page - 1}?${query}`) Prev -
	if page < numberOfPages
		a(href=`/uploads/overview/${page + 1}?${query}`) Next
	if numberOfPages > 0
		|  Page #{page} / #{numberOfPages}
	if username === ''
		a(href='/uploads/upload') Upload images