extends ../layouts/layout

block title
	|image manager overview

block content
	h1 Image manager
	h2 Overview

	if currentUser.role > 1
		form(action='/uploads/overview/1' method='get')
			p Enter username to overview user's images
			input(type='text' name='username')
			// if errors != null
				|<br/> #{errors}
			input(type='submit' value='Submit')

	ul
		each image in images
			a(href=`/uploads/${image.id}`)
				img(src=`/uploads/${image.path}` width='350')
				div Details
			a(href=`/uploads/${image.id}/edit`) Edit
			if deleted !== '1'
				form(action=`/uploads/${image.id}/delete` method='post')
					input(type='submit' value='Delete')
		else
			div You have not uploaded any images yet

	if page > 1
		a(href=`/uploads/overview/${page - 1}`) Prev - 

	if page < numberOfPages
		a(href=`/uploads/overview/${page + 1}`) Next

	if numberOfPages > 0
		|  Page #{page} / #{numberOfPages}

	a(href='/uploads/upload') Upload images