extends ../layouts/layout

block title
	|image manager overview

block content
	h1 Image manager
	h2 Overview

	ul
		each image in images
			a(href=`/uploads/${image.id}`)
				img(src=`/uploads/${image.path}` width='350')
			div #{image.originalName}
			div #{Math.round(image.size/1000)} KB
			div URL: /uploads/#{image.path}
			a(href=`/uploads/${image.id}/edit`) Edit data
			form(action=`/uploads/${image.id}/delete` method='post')
				input(type='submit' value='Delete image')
		else
			div You have not uploaded any images yet

	if page > 1
		a(href=`/uploads/overview/${page - 1}`) Prev - 

	if page < numberOfPages
		a(href=`/uploads/overview/${page + 1}`) Next

	if numberOfPages > 0
		|  Page #{page} / #{numberOfPages}

	a(href='/uploads/upload') Upload images