extends ../layouts/layout

block title
	|update password admin

block content
	mixin field(title)
		p(class={invalid: errors[attributes.name] != null}) #{title} <br/>
			input&attributes(attributes)
			if errors[attributes.name] != null
				|<br/> #{errors[attributes.name].message}

	h1 Admins - Update user password
	form(action='/accounts/users/change-password/admin' method='post')

		+field("User's username")(type='text' name='username' value=body.username)
		+field("User's email")(type='text' name='email' value=body.email)
		+field("User's new password")(type='text' name='password' value=body.password)

		input(type='submit' value='Submit')