extends ../layouts/layout

block title
	|update password admin

block content
	mixin field(title)
		p.title #{title}
			input&attributes(attributes)
			if errors[attributes.name] != null
				p.invalid #{errors[attributes.name].message}
	
	form.sign(action='/accounts/users/change-password/admin' method='post')
		legend Update user password
		+field("User's username")(type='text' name='username' value=body.username)
		+field("User's email")(type='text' name='email' value=body.email)
		+field("User's new password")(type='text' name='password' value=body.password)
		input(type='submit' value='Submit')