extends ../layouts/layout

block title
	|dashboard

block content
	div.dashboard.marginBottom30
		div.readingWidth
			h1.textAlignCenter
				if currentUser.pic != null
					img.userAvatar(src=`/uploads/${currentUser.pic}`)
				else
					img.userAvatar(src='/images/avatar.jpg')
				| #{currentUser.username}
			
			div.postList
				h2 Your posts

				a.customButton(href='/posts/create') Start new post
				p
					a(href='/posts/overview') View all your posts
				h4.marginTop0 Your latest posts

				each post in latestPosts
					article
						figure
							if post.pic != null
								img(src=`/uploads/${post.pic}`)
							else
								img(src='/images/no_image_available.jpg')
						header
							h2
								a(href=`/posts/${post.slug}`)= post.title
							if post.subtitle != null
								p.subtitleList #{post.subtitle}
							p.postData #{moment(post.postedAt).format('ll')}
						div.clear

				else
					p You have no posts yet  

			div
				h2 Your images
				a(href='/uploads/overview/1') Current images
				span.dot •
				a(href='/uploads/overview/1?deleted=1') Deleted images

			div.marginBottom30
				h2 Your stats
				p likes #{likes} #[span.dot •] liking #{liking} #[span.dot •] followers #{follows} #[span.dot •] following #{following}

			form(action='/accounts/delete' method='post')
				input.customButton.danger(type='submit' value='Delete account')

			if currentUser.role > 1
				h2 For admins only
				p
					a.customButton(href='/accounts/users/change-password/admin') Update user password