extends ../layouts/layout

block title
	|dashboard

block content
	div.dashboard
		div.readingWidth
			h1 Dashboard
			a.customButton(href='/posts/create') Start new post
			
			h2 Your latest posts
			ul
				each post in latestPosts
					li
						div: a(href=`/posts/${post.slug}`)= post.title
						if post.subtitle != null
							div #{post.subtitle}
						div #{moment(post.postedAt).format('ll')}

				else
					li You have no posts yet

			h2 Your posts and images
			div.userPostsAndImages
				a(href='/posts/overview') Posts
				a(href='/uploads/overview/1') Current images
				a(href='/uploads/overview/1?deleted=1') Deleted images

			h2 Your stats
			p
				| likes #{likes}
				span.dot •
				| liking #{liking}
				span.dot •
				| followers #{follows}
				span.dot •
				| following #{following}

			form(action='/accounts/delete' method='post')
				input.customButton.danger(type='submit' value='Delete account')

			if currentUser.role > 1
				h2 Admins only
				p
					a(href='/accounts/users/change-password/admin') Update user password
