extends ../layouts/layout

block title
	|profile

block content
	div.readingWidth.paddingBottom30
		h1.textAlignCenter Profile

		if currentUser.pic != null
			img.userAvatar(src=`/uploads/${currentUser.pic}`)
			form.marginTop20(action='/accounts/profile' method='post')
				input.customButton.danger(type='submit' value='Delete image')
		else
			img.userAvatar(src='/images/avatar.jpg')
			div.parensText (#[span.asterisk  *] You can provide your own image by editing your profile)

		p Username: #{currentUser.username}
		p Email: #{currentUser.email}
		p Name:
			if currentUser.name != null
				|  #{currentUser.name}
			else 
				|  N/A
		p Bio:
			if currentUser.bio != null
				|  #{currentUser.bio}
			else 
				|  N/A
		
		a.customButton(href='/accounts/profile/edit') Edit profile