extends ../layouts/layout

block title
	|homepage

block content
	div.homepage
		div.imageHolder
			h1 Create your blog. Share your stories
			img(src='/images/homepage.jpg' alt='Homepage image')
		h1 Whether you'd like to share your expertise, experiences or whatever is on your mind
		div.readingWidth
			ul
				li
					i.icon-check
					|  Post anything
				li
					i.icon-check
					|  Share your passions
				li 
					i.icon-check
					|  Discover
				li
					i.icon-check
					|  Follow people
				li 
					i.icon-check
					|  Like posts

			div.postList.marginBottom80
				h2 Latest posts

				each post in posts
					article
						figure
							if post.pic != null
								img(src=`/uploads/${post.pic}`)
							else
								img(src='/images/no_image_available.jpg')
						header
							h2
								a(href=`/posts/${post.slug}`)= post.title
							if post.subtitle != null
								p.subtitleList #{post.subtitle}
							p.postData by #{post.owner} • #{moment(post.postedAt).format('ll')}	
						div.clear