extends ../layouts/layout

block title
	|create post

block content
	h1 Create your post
	form(action='/posts/create' method='post')
		p(class={invalid: errors.title != null}) Title <br/>
			input(type='text' name='title' value=body.title)
			if errors.title != null
				|<br/> #{errors.title.message}
		p Subtitle <br/>
			textarea(name='subtitle')= body.subtitle
		p(class={invalid: errors.body != null}) Body <br/>
			textarea(name='body' placeholder='Your article goes here...')= body.body
			if errors.body != null
				|<br/> #{errors.body.message}
		p Picture <br/>
			input(type='file' name='postPic')
		p
			input(type='button' value='Save temp post')
		p
			input(type='submit' value='Create post')
	p <br/> Search for articles (link)
	p
		a(href='/accounts/signout') Sign out