extends ../layouts/layout

block title
	|create post

block content
	div.readingWidth
		form.createPost.paddingTop30.paddingBottom30(action='/posts/create' method='post' enctype='multipart/form-data')
			legend Create post
			p.title Title #[span.asterisk  *]
				textarea.autosize(name='title')= body.title
				if errors.title != null
					p.invalid #{errors.title.message}
			p.title Subtitle
				textarea.autosize(name='subtitle')= body.subtitle
			p.title Body
				textarea.autosize(name='body' placeholder='Your article goes here...')= body.body
			p.title Tags (separate tags with commas)
				input(type='text' name='tags' value=body.tags)
			div
				label.customButton.customFileUpload.marginTop30(for='fileUpload') Choose main picture
				input#fileUpload(type='file' name='postPic')
			div.marginTop30
				input.customButton(type='submit' name='save' value='Save draft')
				input.customButton(type='submit' name='publish' value='Publish post')