extends ../layouts/layout

block title
	|posts overview

block content

	mixin postDetails(post)
		article
			figure
				if post.pic != null
					img(src=`/uploads/${post.pic}`)
				else
					img(src='/images/no_image_available.jpg')
			header
				h2
					a(href=`/posts/${post.slug}`)= post.title
				if post.subtitle != null
					p.subtitleList #{post.subtitle}
				p.postData #{moment(post.postedAt).format('ll')}	
				if post.updatedAt != null
					p.postData updated #{moment(post.updatedAt).format('ll')}

				if post.deletedAt != null
					p.postData.redText deleted #{moment(post.deletedAt).format('ll')}				

				p.postData
					| #{post.likes} likes

					if post.isVisible
						|  • visible
					else
						|  • not visible

					if post.isDraft
						|  • draft
					else
						|  • published
			div.clear


	div.postsOverview
		div.readingWidth.paddingBottom30
			h1.textAlignCenter Your posts

			if currentUser.role > 1
				form(action='/posts/overview' method='get')
					p.title Enter username to overview user's posts
					input(type='text' name='username')
					input.customButton(type='submit' value='Submit')
				if username != null && username !== currentUser.username
					h2 #{username}'s posts
				else
					h2 Your posts

			div.postList.marginBottom80
				each post in posts
					+postDetails(post) 
				else
					p You don't have any posts yet