extends ../layouts/layout

block title
	|posts overview

block content

	- var posts = postsWithLikesAndSlugs

	mixin postDetails(post)
		div: a(href=`/posts/${post.slug}`)= post.title 
		div #{post.subtitle}
		if post.deletedAt != null
			div deleted on #{post.deletedAt}
		div posted on #{post.postedAt}
		if post.updatedAt != null
			div updated on #{post.updatedAt}
		else
			div never updated
		div #{post.likes} likes
		if post.isVisible
			div visible
		else
			div not visible
		if post.isDraft
			div draft
		else
			div not draft
		// FIXME!!! Delete <br/>
		<br/>

	h1 Posts overview
	h2 Your current posts
	ul
		each post in posts
			if post.deletedAt == null
				+postDetails(post) 
		else
			div You don't have any current posts

	h2 Your deleted posts
	ul
		each post in posts
			if post.deletedAt != null
				+postDetails(post)
		else
			div You don't have any deleted posts