extends ../layouts/layout

block title
	|posts overview

block content

	mixin postDetails(post)
		li
			div: a(href=`/posts/${post.slug}`)= post.title
			
			if post.subtitle != null
				div #{post.subtitle}

			div posted #{moment(post.postedAt).format('ll')}

			if post.updatedAt != null
				div updated #{moment(post.updatedAt).format('ll')}

			if post.deletedAt != null
				div.redText deleted #{moment(post.deletedAt).format('ll')}				

			| #{post.likes} likes

			if post.isVisible
				|  | visible
			else
				|  | not visible

			if post.isDraft
				|  | draft
			else
				|  | not draft

	div.postsOverview
		div.readingWidth
			h1 Posts overview

			if currentUser.role > 1
				form(action='/posts/overview' method='get')
					p Enter username to overview user's posts
					input(type='text' name='username')
					input(type='submit' value='Submit')
				if username != null && username !== currentUser.username
					h2 #{username}'s posts
				else
					h2 Your posts

			ul
				each post in posts
					+postDetails(post) 
				else
					div You don't have any posts yet