extends ../layouts/layout

block title
	|posts overview

block content

	mixin postDetails(post)
		div: a(href=`/posts/${post.slug}`)= post.title
		div #{post.subtitle}
		if post.deletedAt != null
			div deleted #{post.deletedAt}
		div posted #{post.postedAt}
		if post.updatedAt != null
			div updated #{post.updatedAt}
		| #{post.likes} likes
		if post.isVisible
			|  - visible
		else
			|  - not visible
		if post.isDraft
			|  - draft
		else
			|  - not draft

	h1 Posts overview

	if currentUser.role > 1
		form(action='/posts/overview' method='get')
			p Enter username to overview user's posts
			input(type='text' name='username')
			input(type='submit' value='Submit')
		if username !== ''
			| Displaying #{username}'s posts
		else
			| Displaying your posts

	ul
		each post in posts
			+postDetails(post) 
		else
			div You don't have any posts yet