extends ../layouts/layout

block title
	|read post

block content
	article
		if postedByUser.pic != null
			img.userPic(src=`/uploads/${postedByUser.pic}`)
		else
			img(src='/images/avatar.jpg')
		if postedByUser.name != null
			div.userName #{postedByUser.name}
		if postedByUser.bio != null
			div.userBio #{postedByUser.bio}

		if alreadyFollowing
			// user logged-in and already following post's author
			form(action=`/accounts/${post.userId}/unfollow/${post.id}` method='post')
				input(type='submit' value='Unfollow')
		else
			// user not logged-in or not following post's author yet
			form(action=`/accounts/${post.userId}/follow/${post.id}` method='post')
				input(type='submit' value='Follow' disabled=(!canFollow))

		| #{follows}

		h1.postTitle!= sanitizer.sanitize(post.title)
		h2.postSubtitle!= sanitizer.sanitize(post.subtitle)

		if post.pic != null
			img.postCoverImage(src=`/uploads/${post.pic}`, alt='Alt post pic', title='Title Post Pic')

		div.postBody!= sanitizer.sanitize(postBody, function(url) { return url; })

		if alreadyLikedPost
			// user logged-in and already liked post
			form(action=`/posts/${post.id}/unlike` method='post')
				input(type='submit' value='Unlike')
		else	
			// user not logged-in or not liked post yet
			form(action=`/posts/${post.id}/like` method='post')
				input(type='submit' value='Like' disabled=(!canLike))

		| #{likes}

		div
			if tags !== []
				| tags
				ul
					each tag in tags
						li= tag