extends ../layouts/layout

block title
	|read post

block content
	article
		div.readingWidth
			div.userInfo
				if postedByUser.pic != null
					img.userPic(src=`/uploads/${postedByUser.pic}`)
				else
					img.userPic(src='/images/avatar.jpg')

				if postedByUser.name != null
					div.userName #{postedByUser.name}

				if postedByUser.bio != null
					div.userBio #{postedByUser.bio}

				div.postedAt #{moment(post.postedAt).format('ll')}

				div.clear

			h1.postTitle!= sanitizer.sanitize(post.title)
			h2.postSubtitle!= sanitizer.sanitize(post.subtitle)

		if post.pic != null
			img.postCoverImage(src=`/uploads/${post.pic}`, alt='Alt post pic', title='Main Post Pic')

		div.readingWidth
			div.postBody!= sanitizer.sanitize(postBody, function(url) { return url; })

			if canEditAndDelete
				div.editDeletePost
					a(href=`/posts/${slug}/edit`) Edit post
					form(action=`/posts/${slug}/delete` method='post')
						input(type='submit' value='Delete post')

			div.likePost
				if alreadyLikedPost
					// user logged-in and already liked post
					form(action=`/posts/${slug}/unlike` method='post')
						button(type='submit')
							i.icon-heart
				else	
					// user not logged-in or not liked post yet
					form(action=`/posts/${slug}/like` method='post')
						button(type='submit' disabled=(!canLike))
							i.icon-heart 
				| #{likes}

			div.tags
				if tags !== []
					i.icon-tag
					| Tags:
					each tag in tags
						span #{tag}

			div.userInfo
				if postedByUser.pic != null
					img.userPic(src=`/uploads/${postedByUser.pic}`)
				else
					img.userPic(src='/images/avatar.jpg')

				if postedByUser.name != null
					div.userName #{postedByUser.name}

				if postedByUser.bio != null
					div.userBio #{postedByUser.bio}

				if alreadyFollowing
					// user logged-in and already following post's author
					form(action=`/accounts/${post.userId}/unfollow?redirectToPost=${slug}` method='post')
						input(type='submit' value='Unfollow')
				else
					// user not logged-in or not following post's author yet
					form(action=`/accounts/${post.userId}/follow?redirectToPost=${slug}` method='post')
						input(type='submit' value='Follow' disabled=(!canFollow))

				| #{follows}

				div.clear