extends ../layouts/layout

block title
	|read post

block content
	article
		if user != null
			img.userPic(src=`/uploads/usersPics/${user.pic}`)
			div.userName #{user.name}
			div.userBio #{user.bio}

		h1.postTitle!= sanitizer.sanitize(post.title)
		h2.postSubtitle!= sanitizer.sanitize(post.subtitle)

		if post.pic != null
			img.postCoverImage(src=`/uploads/postsPics/${post.pic}`, alt='Alt post pic', title='Title Post Pic')

		div.postBody!= sanitizer.sanitize(postBody)

		if tags != null
			| tags
			ul
				each tag in tags
					li= tag