extends ../layouts/layout

block title
	|read post

block content
	article
		if user.pic != null
			img.userPic(src=`/uploads/${user.pic}`)
		else
			img(src='/images/avatar.jpg')
		if user.name != null
			div.userName #{user.name}
		if user.bio != null
			div.userBio #{user.bio}

		h1.postTitle!= sanitizer.sanitize(post.title)
		h2.postSubtitle!= sanitizer.sanitize(post.subtitle)

		if post.pic != null
			img.postCoverImage(src=`/uploads/${post.pic}`, alt='Alt post pic', title='Title Post Pic')

		div.postBody!= sanitizer.sanitize(postBody, function(url) { return url; })

		if likedByCurrentUserLength === 0
			// either user hasn't liked the post yet or is not logged-in
			form(action=`/posts/${post.id}/like` method='post')
				input(type='submit' value='Like' disabled=(currentUser == null))
		else
			form(action=`/posts/${post.id}/unlike` method='post')
				input(type='submit' value='Unlike' disabled=(currentUser == null))

		| #{likes}

		div
			if tags !== []
				| tags
				ul
					each tag in tags
						li= tag